/* Make sure that padding behaves as expected */
* {
    box-sizing: border-box;
}

body {
    margin: 0; 
    background-color: rgb(201, 235, 207);   
}

/*welcome section*/
.welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 25px 30px 30px 3px black inset; 
}

.top-left>img, .top-right>img {
    border-radius: 15px;
    border: 5px solid rgb(60, 99, 67);
    background-color: rgb(60, 99, 67);
}

.top-middle {
    
    text-align: center;
}

/*javascript moving banner*/
#marquee {
    color: rgb(201, 235, 207);
    width: 100%;
    font-size: xx-large;
    text-align: center;
    background-color: rgb(60, 99, 67); 
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 15px 10px 30px 3px black inset;
}

/*bubble message area*/
.messages {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    background-color: rgb(186, 235, 195);  
    justify-content: space-around;
    align-items: center;
    box-shadow: 25px 30px 30px 3px black inset;
}

.message img {
    padding: 5px;
    border-radius: 100px;
    border: 5px solid rgb(60, 99, 67); 
    background-color: rgb(60, 99, 67);
    animation: bling 2s infinite; /*@keyframes named bling*/
}

/*picture list of items*/
.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgb(167, 209, 175);  
    box-shadow: 25px 30px 30px 3px black inset; 
}

.item {
    flex: 25%;
    padding: 5px;  
    
}

.items img {
    border-radius: 10px;
    border: 5px solid rgb(60, 99, 67); 
    background-color: rgb(60, 99, 67);
}

.come {
    text-align: center;
    color: white;
    background-color: rgb(164, 199, 173);  
    box-shadow: 25px 30px 30px 3px black inset;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    background-color: rgb(136, 172, 143);
    justify-content: space-around;
    align-items: center;
    box-shadow: 25px 30px 30px 3px black inset;
}

.amazing {
    text-align: center;
    color: white;
    font-size: large;
}

.logol, .come, .logor {
    padding: 5px;
}

footer img {
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

/*animation for bubble messages*/
@keyframes bling {
    50% {box-shadow: 200px 200px 30px 3px black inset;}
}

@media only screen and (max-width: 610px) {
    .top-left, .top-right {
        flex: 25%;
    }
  }

  @media only screen and (max-width: 610px) {
    .top-middle {
        flex: 50%;
    }
  }


