/* Make sure that padding behaves as expected */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background-color: rgb(201, 235, 207);   
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: 20px 20px 30px 3px black inset;
}

.welcome {
    flex: 100%;
    height: 100px;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    padding-top: 25px;
}

/*javascript moving banner*/
#marquee {
    color: white;
    width: 100%;
    font-size: xx-large;
    text-align: center;
    border: 1px solid red;
    background-color: rgb(60, 99, 67); 
    white-space: nowrap;
    overflow: hidden;
    box-shadow: 15px 10px 30px 3px black inset;
}

/*phone, address... section*/
.info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 30px 30px 30px 3px black inset; 
}

.top-left>img, .top-right>img {
    border-radius: 15px;
    border: 5px solid rgb(11, 221, 134); 
    background-color: rgb(11, 221, 134);
}

.top-middle {
    text-align: center;
    color: rgb(3, 0, 0);
}

/*bubble message area*/
.messages {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    border: 2px solid white;
    background-color: rgb(186, 235, 195);  
    justify-content: space-around;
    align-items: center;
    box-shadow: 20px 10px 30px 3px black inset;
}

.message img {
    padding: 5px;
    border-radius: 100px;
    border: 5px solid rgb(11, 221, 134);
    background-color: rgb(192, 168, 235);
    animation: bling 2s infinite; /*@keyframes named bling*/
}

/*picture list of items*/
.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgb(167, 209, 175);  
    box-shadow: 20px 10px 40px 10px black inset; 
}

.item {
    flex: 25%;
    padding: 5px;  
    
}

.items img {
    border-radius: 15px;
    border: 3px solid rgb(11, 221, 134); 
    background-color: rgb(60, 99, 67);
}

.come {
    text-align: center;
    color: white;
    padding: 2px;
    background-color: rgb(164, 199, 173);
    border: 2px solid white; 
    box-shadow: 20px 15px 40px 5px rgb(0, 0, 0) inset;
    animation: bling 2s infinite; /*@keyframes named bling*/
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    background-color: rgb(136, 172, 143);
    justify-content: space-around;
    align-items: center;
    box-shadow: 20px 20px 60px 10px black inset;
}

.amazing {
    text-align: center;
    color: rgb(3, 0, 0);
    font-size: large;
}

.logol, .come, .logor {
    padding: 5px;
}

footer img {
    border-radius: 15px;
    border: 5px solid rgb(11, 221, 134);
}

img {
    max-width: 100%;
    height: auto;
}

/*animation for bubble messages*/
@keyframes bling {
    50% {box-shadow: 200px 200px 30px 3px black inset;}
}

@media only screen and (max-width: 610px) {
    .info {
        flex-direction: column;
    }
  }


